---
import SplitHeroPanel from "./SplitHeroPanel.astro";

interface Panel {
  accent: "blue" | "red";
  title: string;
  quote?: string;
  subtitle?: string;
  bullets: string[];
  cta: string;
  secondary: string;
  href: string;
}

interface Props {
  left: Panel;
  right: Panel;
}

const { left, right } = Astro.props;
---
<section class="section-spacing pt-8">
  <div class="container-tight">
    <div class="relative grid gap-6 lg:grid-cols-2">
      <div class="pointer-events-none absolute inset-y-10 left-1/2 hidden w-px -translate-x-1/2 bg-stroke/60 lg:block"></div>
      <div class="fade-in" style="animation-delay: 0ms;">
        <SplitHeroPanel {...left} />
      </div>
      <div class="fade-in" style="animation-delay: 120ms;">
        <SplitHeroPanel {...right} />
      </div>
    </div>
  </div>
</section>
